.projects {
    background-color: #191919;
    //@at-root
    .container {
        div {
            @apply p-4;
            background: #333;
            position: relative;
            border-radius: 25px;
            position: relative;
            //@at-root
            img {
                border-radius: 15px;
            }
            h1 {
                font-size: 26px;
                font-weight: 900;
                line-height: 46.8px;
                color: #ffbd39;
            }
            .btn {
                background-color: #4d4d4d;
                margin: 20px 0;
                padding: 15px;
                border-radius: 10px;
                //
                &:hover {
                    background-color: #676767;
                }
            }
            .more-info {
                position: absolute;
                background-color: #4d4d4d;
                top: 0vh;
                height: 78%;
                margin-left: -15px;
                //
                p {
                    font-size: 16px;
                    line-height: 25px;
                    color: #e6e6e6;
                    margin-bottom: 50px;
                }
                span {
                    color: #ffac06;
                }
                button {
                    background-color: #676767;
                    border-radius: 15px;
                    margin-left: 10px;
                    text-transform: capitalize;
                    height: 50px;
                    width: 100px;
                    //
                    &:hover {
                        background-color: #818181;
                    }
                }
            }
        }
    }
}